* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.titulo {
  font-size: 100px;
  font-weight: bolder; }

.subtitulo {
  text-align: right;
  text-decoration: underline;
  font-style: oblique; }

.descripcion {
  text-align: center; }

ul {
  font-weight: lighter;
  list-style: none; }

.lista {
  font-weight: bold; }

.texto {
  font-size: 30px; }

.pie {
  text-align: center;
  text-decoration: solid;
  font-weight: bolder; }

.medidasDatos {
  margin: 0px 0px 10px 0px; }

.medidasFoto {
  width: 20%;
  margin: 1px 1px 1px 1px; }

.fotoRedes {
  width: 5%; }

.medidasFotoNos {
  width: 20%; }

.fotosInicio {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.fotosNosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.fotosUbi {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center; }

.fotosGaleria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.lista {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }

.form {
  display: flex;
  flex-direction: column;
  padding: 10%; }

header {
  background-color: black; }

main {
  background-color: white; }

footer {
  background-color: white; }

header {
  padding-top: 2%; }

main {
  padding-top: 100px; }

footer {
  padding-top: 10%; }

.lista {
  padding-top: 8%; }

.fotosGaleria {
  padding: 2%; }

.fotosNosotros {
  padding: 2% 0; }
