@charset "UTF-8";
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  * .titulo {
    font-size: 100px;
    font-weight: bolder; }
    * .titulo .subtitulo {
      text-align: right;
      text-decoration: underline;
      font-style: oblique; }
      * .titulo .subtitulo .descripci贸n {
        text-align: center; }
        * .titulo .subtitulo .descripci贸n ul {
          font-weight: lighter;
          list-style: none; }
          * .titulo .subtitulo .descripci贸n ul .lista {
            font-weight: bold; }
            * .titulo .subtitulo .descripci贸n ul .lista .texto {
              font-size: 30px; }

.medidasDatos {
  margin: 0px 0px 10px 0px; }

.medidasFoto {
  width: 20%;
  margin: 1px 1px 1px 1px; }

.fotoRedes {
  width: 5%; }

.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
