header{
    padding-top: 2%;
}

main {
    padding-top: 100px;
}

footer {
    padding-top: 10%;
}

.lista {
    padding-top: 8%;
}

.fotosGaleria {
    padding: 2%;
}

.fotosNosotros {
    padding: 2%0;
}