.fotosInicio {
    display: flex;
     flex-direction: row;
     justify-content: center;

}

.fotosNosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.fotosUbi { display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.fotosGaleria {
    display: flex; 
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center; 

}

.lista {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 10%;

}

.nav{
    justify-content: center;
}
