.container {
    display: grid;
    grid-template-areas: 
    header header
    main fotosInicio
    footer fotosInicio
   
}

 header {
    display: grid;
    grid-template-areas: header;

}


 main {
    display: grid;
    grid-template-areas: main ;
}

.fotosInicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    display: grid;
    grid-template-areas: footer;
}



.lista{
    display: flex;
    flex-direction: column;
    
}

.row1galeria {
    display: grid;
    grid-template-columns: auto auto auto auto auto;

}
    
.row2galeria {
    display: flex;
    flex-direction: row;
    
}

.row3galeria {
    display: grid;
    grid-template-columns: auto auto auto;
    }

    

    .flexGaleria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .flexNosotros  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .flexUbi {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        
    }