 .medidasDatos {
     margin: $datos-margin;
 }
 
.medidasFoto {
     width: $fotos-width;
     margin: 1px 1px 1px 1px; }
                                                                                                                                    
.fotoRedes {
    width:$fotos-redes-width}
    




  