.datos1{
    .datos2{
        .datos3{
            margin: $datos-margin ;
        }
    }
}

.fotoUno {
    .fotoDos {
        .fotoTres {
            .fotoCuatro {
                .fotoCinco {
                    .fotoGaluno {
                         .fotoGaldos {
                              .fotoGaltres {
                                  .fotoGalcuatro {
                                      .fotoGalcinco {
                                           .fotoGalseis {
                                               .fotoGalsiete {
                                                   .fotoGalocho {
                                                       .fotoGalnueve {
                                                            .fotoGaldiez {
                                                                 .fotoGalonce {
                                                                     .fotoGaldoce {
                                                                         .fotoGaltrece {
                                                                             .fotoGalcatorce {
                                                                                  .fotoGalquince {
                                                                                       .fotoGaldieciseis {
                                                                                           .fotoNoscero {
                                                                                               .fotoNosuno {
                                                                                                   .fotoNosdos {
                                                                                                       .fotoNostres {
                                                                                                           .fotoNoscuatro {
                                                                                                                .fotoNoscinco {
                                                                                                                    .fotoNosseis {
                                                                                                                        .fotoNossiete {
                                                                                                                             .fotoNosocho {
                                                                                                                                 .fotoNosnueve {
                                                                                                                                     .fotoNosdiez {
                                                                                                                                         width: $fotos-width
                                                                                                                                         margin: $fotos-margin;
                                                                                                                                      }
                                                                                                                                    }
                                                                                                                                }
                                                                                                                            }
                                                                                                                        }
                                                                                                                    }
                                                                                                                }
                                                                                                            }
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
.fotoWsp {
    .fotoInsta {
        .fotoFace {
            width:$fotos-redes-width
        }
    }
}



  