 .medidasDatos {
     margin: $datos-margin;
 }
 
.medidasFoto {
     width: $fotos-width;
     margin: $fotos-margin; }
                                                                                                                                    
.fotoRedes {
    width:$fotos-redes-width}
    




  