.fotoMerch1 {
    margin: 25px 25px 25px 250px;
    width: 0%;
    height: 0%;
}

.fotoMerch2{
    margin:25px 25px 25px 500px;
    width: 0%;
    height: 0%;

}

.fotoMerch3 {
    margin: 25px 25px 25px 750px;
    width: 0%;
    height: 0%;
}

.fotoMerch4{
    margin: 25px 25px 25px 1000px;
    width: 0%;
    height: 0%;
}
.datos1{
    margin:0px 0px 10px 0px ;
    
}

.datos2{
    margin: 0px 0px 10px 0px;
}

.datos3{
    margin: 0px 0px 10px 0px;
}
.fotoUno {
    width: 20%;
    margin: 1px 1px 1px 1px;
}

.fotoDos {
    width: 20%;
    margin: 1px 1px 1px 1px;
}

.fotoTres {
    width: 20%;
    margin: 1px 1px 1px 1px;
}

.fotoCuatro {
    width: 20%;
    margin: 1px 1px 1px 1px;
}

.fotoCinco {
    width: 20%;
    margin: 1px 1px 1px 1px;
}

.fotoWsp {
    width: 5%;

}

.fotoFace {
    width: 5%;

}

.fotoInsta {
    width: 5%;
}

.fotoGaluno {
    width: 20%;
    margin: 1px 1px 1px 1px;
}
.fotoGaldos {
    width: 20%;
    margin: 1px 1px 1px 1px;
}
.fotoGaltres {
    width: 20%;
     margin: 1px 1px 1px 1px;
}
.fotoGalcuatro {
    width: 20%; 
    margin: 1px 1px 1px 1px;
}
.fotoGalcinco {
    width: 20%;
     margin: 1px 1px 1px 1px;
}
.fotoGalseis {
    width: 20%;
     margin: 1px 1px 1px 1px;
}
.fotoGalsiete {
    width: 20%; 
    margin: 1px 1px 1px 1px;
}
.fotoGalocho {
    width: 20%; 
    margin: 1px 1px 1px 1px;
}

.fotoGalnueve {
    width: 20%; 
    margin: 1px 1px 1px 1px;
}
.fotoGaldiez {
    width: 20%; 
    margin: 1px 1px 1px 1px;
}
.fotoGalonce {
    width: 20%;
     margin: 1px 1px 1px 1px;
}
.fotoGaldoce {
    width: 20%;
     margin: 1px 1px 1px 1px;
}
.fotoGaltrece {
    width: 20%; 
    margin: 1px 1px 1px 1px;
}
.fotoGalcatorce {
    width: 20%; 
    margin: 1px 1px 1px 1px;
}

.fotoGalquince {
    width: 20%;
     margin: 1px 1px 1px 1px;
}

.fotoGaldieciseis {
    width: 20%;
    margin: 1px 1px 1px 1px;
}

.fotoNoscero {
    width: 20%;
}
.fotoNosuno {
    width: 20%;
}
.fotoNosdos {
    width: 20%;
}
.fotoNostres {
    width: 20%;
}
.fotoNoscuatro {
    width: 20%;
}
.fotoNoscinco {
    width: 20%;
}
.fotoNosseis {
    width: 20%;
}
.fotoNossiete {
    width: 20%;
}
.fotoNosocho {
    width: 20%;
}
.fotoNosnueve {
    width: 20%;
}

.fotoUbi {
    width: 30%;
}
